body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4e54c8; /* Gradient fallback */
    background-image: linear-gradient(to bottom left, #8f94fb, #4e54c8);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent background */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
img{
    height: 100px;
    width: 100px;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.weather-card {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.location {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.date {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.temperature {
    font-size: 48px;
    color: #333;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.details {
    margin-top: 10px;
}

.details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.details span {
    font-weight: bold;
    color: #333;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
